@import "../constants/Colors.css";

.NavBar {
  font-family: "Roboto Condensed";
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: var(--backgroud-color);
  color: var(--text-color);
}

.NavList {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
}

.NavListItem {
  color: var(--text-color);
  text-decoration: none;
}

.NavListItem:hover {
  color: var(--tint-text-color);
}
.active{
  color: var(--tint-text-color);
}

.NavBar h1 {
  color: var(--tint-text-color);
  font-size: 30px;
  letter-spacing: 10px;
  position: relative;
  left: 10vw;

}
